# Python cache files
__pycache__/
*.py[cod]

# Virtual environment directories
venv/
env/
ENV/

# Ignore all files in the configs directory
configs/*
!configs/.gitkeep

# Ignore all files in the data directory and its subdirectories
data/*
!data/.gitkeep